body {
  margin: 0;
  background-color: var(--surface-color);
}

a {
  text-underline-offset: 0.2em;
  transition: color 0.2s ease-out;

  &:hover {
    color: var(--accent-color);
  }

  &:active {
    color: color-mix(in oklab, var(--accent-color) 90%, white 10%);
  }
}

ul {
  list-style-type: none;
  padding-left: unset;
}

ul,
ol {
  li {
    margin-block: var(--spacing-xs);
  }
}
