/* Font Families */

:root {
  --paragraph-font: "Atkinson Hyperlegible", system-ui, Roboto, sans-serif;
  --heading-font: "Noto Sans", Georgia, Times, serif;
}

body {
  font-family: var(--paragraph-font);
  font-size: var(--size-0);
  color: var(--text-on-light);
}

:where(h1, h2, h3, h4, h5, h6) {
  font-family: var(--heading-font);
}

/* Font Sizes Large -> Small */

:where(h1) {
  font-size: var(--size-5);
}

:where(h2) {
  font-size: var(--size-3);
}

:where(h3) {
  font-size: var(--size-2);
}

:where(h4) {
  font-size: var(--size-1);
}

:where(h5, h6) {
  font-size: var(--size-0);
}

:where(p, li, blockquote) {
  font-size: var(--size-0);
  line-height: var(--size-2);
}

:where(small, figcaption) {
  font-size: var(--size--1);
}

:where(sub, sup) {
  font-size: var(--size--2);
}

:where(a:link, a:visited) {
  color: var(--color-on-white);
}
