/* Font Families */

:root {
  --paragraph-font: "Atkinson Hyperlegible", system-ui, Roboto, sans-serif;
  --heading-font: "Noto Sans", Georgia, Times, serif;
}

body {
  font-family: var(--paragraph-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

/* Font Sizes Large -> Small */

h1 {
  font-size: var(--size-5);
}

h2 {
  font-size: var(--size-3);
}

h3 {
  font-size: var(--size-2);
}

h4 {
  font-size: var(--size-1);
}

h5,
h6 {
  font-size: var(--size-0);
}

p,
li,
blockquote,
body {
  font-size: var(--size-0);
}

small,
figcaption {
  font-size: var(--size--1);
}

sub,
sup {
  font-size: var(--size--2);
}
