.info-alert {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  background-color: var(--primary-color);
  color: var(--text-on-color);

  button {
    cursor: pointer;
  }

  .dismiss {
    margin-left: auto;
  }
}
