#files a,
#guidelines .container > a:last-of-type {
  display: block;
  width: 100%;
  margin-block: var(--spacing-xs);
  padding: var(--spacing-s);
  text-decoration: none;
  font-weight: bold;
  color: var(--text-on-dark);
  background-color: var(--accent-color);
  transition: transform 0.2s ease;
  border-radius: 4rem;
  @supports (corner-shape: squircle) {
    corner-shape: squircle;
  }

  @media (min-width: 32rem) {
    width: auto;
    display: inline-block;
    margin-inline: var(--spacing-xs);
  }

  &:hover,
  &:focus-visible {
    transform: translateY(-3px);
    outline: 3px solid hsl(from var(--accent-color) calc(h + 30) s l);
    outline-offset: 3px;
  }
}
