body > aside {
  position: fixed;
  right: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  background: var(--primary-color-4);
  color: var(--text-on-dark);

  height: 50vh;
  width: var(--spacing-m);
  z-index: 100;
  transition: width 0.3s ease;

  .container {
    margin: var(--spacing-xs);
    transition: opacity 0.3s ease;
    opacity: 0;

    h2,
    h4 {
      font-size: var(--size-2);
    }

    a:hover {
      color: color-mix(in oklab, var(--text-on-dark) 90%, black 10%);
      text-decoration: underline;
    }
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    color: var(--text-on-dark);
    font-size: var(--size--1);
    letter-spacing: 2px;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  &:nth-of-type(1) {
    top: 0;

    &::after {
      content: "AUTHOR";
    }
  }
  &:nth-of-type(2) {
    bottom: 0;

    &::after {
      content: "FEATURED";
    }
  }

  &:hover,
  &:focus-within {
    width: var(--right-sidebar-width);

    &::after {
      opacity: 0;
    }

    .container {
      opacity: 1;
    }
  }
}
